.portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0b0b0b;
  padding-bottom: 50px;

  .filters-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 7px 0;

    @media (max-width: 600px) {
      flex-wrap: wrap;
    }

    &__main-buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;

    @media (max-width: 600px) {
      gap: 5px;
      flex-wrap: wrap;
    }

      .filter-item {
        background-color: transparent;
        border: none;
        cursor: pointer;

        &::after {
          content: "";
          display: block;
          width: 0;
          height: 2px;
          background-color: #fff;
          transition: width 0.2s ease;
        }

        &:hover::after {
          width: 100%;
        }

        &__selected {
          background-color: transparent;
          border: none;
          cursor: pointer;

          &::after {
            content: "";
            display: block;
            width: 100%;
            height: 2px;
            background-color: #fff;
            transition: width 0.2s ease;
          }
        }
      }
    }

    &__secondary-buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;

      .filter-item {
        background-color: transparent;
        border: none;
        cursor: pointer;
        opacity: 0.5;

        &::after {
          content: "";
          display: block;
          width: 0;
          height: 2px;
          background-color: #fff;
          transition: width 0.2s ease;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
  }

  .portfolio-container__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    padding: 20px 0;

    @media (max-width: 600px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }

    &__item {
      width: 100%;
      position: relative;
      cursor: pointer;

      &:hover {
        .portfolio-container__content__item__hover {
          opacity: 1;
        }
      }
      
      .portfolio-container__content__item__hover {
        @media (max-width: 1024px) {
          display: none;
        }
      }
      
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 16/9;
      }

      &__hover {
        opacity: 0;
        transition: 0.2s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 13px;
        justify-content: end;
        background-color: rgba(0, 0, 0, 0.5);

        h4 {
          max-width: 80%;
        }
      }
    }
  }
}
