.header-container {
  position: fixed;
  top: 0;
  right: 20px;
  height: 75px;
  z-index: 100;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background-color: rgba(11, 11, 11, 0.5);
  // backdrop-filter: blur(10px);

  @media (max-width: 1024px) {
    height: fit-content;
    padding-top: 20px;
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;

    img {
      width: 24px;
      height: 24px;
    }
    &::after {
      content: "";
      display: block;
      width: 0;
      height: 2px;
      background-color: #fff;
      transition: width 0.2s ease;
    }

    &:hover::after {
      width: 100%;
    }
  }

  nav {
    display: flex;
    gap: 20px;

    a {
      text-decoration: none;
      color: #fff;

      &::after {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background-color: #fff;
        transition: width 0.2s ease;
      }

      &:hover::after {
        width: 100%;
      }
    }

    @media (max-width: 1024px) {
      flex-direction: column;
      align-items: end;
    }
  }
}

.header-title {
  text-transform: uppercase;
  position: absolute;
  top: 5px;
  left: 20px;
  z-index: 100;
}
