<div *ngIf="isVisible" (click)="close()" class="modal-background">
  <div class="modal-container">
    <div class="video-container">
      <ng-container *ngIf="data.videoUrl">
        <iframe
          title="vimeo-player"
          [src]="videoLink"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </ng-container>
    </div>
    <div class="text-container">
      <div class="header">
        <h4>{{ data.name | uppercase }}</h4>
        <span>{{ data.category }}</span>
      </div>
      <p>{{ data.description }}</p>
    </div>
  </div>
</div>
