<div *ngIf="isVisible" (click)="close()" class="modal-background">
  <div class="modal-container">
    <div class="video-container">
      <ng-container *ngIf="data.videoUrl">
        <iframe
          title="vimeo-player"
          [src]="videoLink"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </ng-container>
      <!-- <ng-container *ngIf="data.photoes">
        <div class="swiper">
          <div class="swiper-wrapper">
            <ng-container *ngFor="let photo of data.photoes">
              <div class="swiper-slide"><div class="swiper-slide__image"><img [src]="photo" alt="" /></div></div>
            </ng-container>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </ng-container> -->
    </div>
    <div class="text-container">
      <div class="header">
        <h4>{{ data.name | uppercase }}</h4>
        <span>{{ data.category }}</span>
      </div>
      <p [innerHTML]="data.description"></p>
    </div>
  </div>
</div>
