@if (isVisible) {
  <div (click)="close($event)" class="modal-background">
    <div class="modal-container">
      <div class="media-container">
        @if (data.videoUrl) {
          <iframe
            title="vimeo-player"
            [src]="videoLink"
            frameborder="0"
            allowfullscreen
          ></iframe>
        }
        @if (data.photoes) {
          <app-slider>
            @for (imageSrc of data.photoes; track imageSrc; let i = $index) {
              <app-slider-slide>
                <img [src]="imageSrc" alt="" />
              </app-slider-slide>
            }
          </app-slider>
        }
      </div>
      <div class="text-container">
        <div class="header">
          <h4>{{ data.name | uppercase }}</h4>
          <span>{{ data.category }}</span>
        </div>
        <p [innerHTML]="data.description"></p>
      </div>
    </div>
  </div>
}
