@font-face {
  font-family: "Cormorant Garamond";
  src: url("@/assets/fonts/CormorantGaramond/CormorantGaramond-Regular.woff2")
      format("woff2"),
    url("@/assets/fonts/CormorantGaramond/CormorantGaramond-Regular.woff")
      format("woff"),
    url("@/assets/fonts/CormorantGaramond/CormorantGaramond-Regular.ttf")
      format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("@/assets/fonts/CormorantGaramond/CormorantGaramond-Bold.woff2")
      format("woff2"),
    url("@/assets/fonts/CormorantGaramond/CormorantGaramond-Bold.woff")
      format("woff"),
    url("@/assets/fonts/CormorantGaramond/CormorantGaramond-Bold.ttf")
      format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("@/assets/fonts/CormorantGaramond/CormorantGaramond-MediumItalic.woff2")
      format("woff2"),
    url("@/assets/fonts/CormorantGaramond/CormorantGaramond-MediumItalic.woff")
      format("woff"),
    url("@/assets/fonts/CormorantGaramond/CormorantGaramond-MediumItalic.ttf")
      format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("@/assets/fonts/CormorantGaramond/CormorantGaramond-SemiBold.woff2")
      format("woff2"),
    url("@/assets/fonts/CormorantGaramond/CormorantGaramond-SemiBold.woff")
      format("woff"),
    url("@/assets/fonts/CormorantGaramond/CormorantGaramond-SemiBold.ttf")
      format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("@/assets/fonts/IBMPlexMono/IBMPlexMono-Regular.woff2")
      format("woff2"),
    url("@/assets/fonts/IBMPlexMono/IBMPlexMono-Regular.woff")
      format("woff"),
    url("@/assets/fonts/IBMPlexMono/IBMPlexMono-Regular.ttf")
      format("truetype");
  font-weight: 400;
  font-style: normal;
}


