<div class="hero-container" id="hero">
  <!-- <app-hint></app-hint> -->
  <video autoplay muted playsinline loop #heroVideo class="hero-video">
    <source src="media/videos/shoreel.webm" type="video/webm" />
    <source src="media/videos/showreel.mp4" type="video/mp4" />
    Ваш браузер не поддерживает видео.
  </video>
  <a
    class="link-to-showreel"
    href="https://vimeo.com/1075057921"
    target="_blank"
  >
    <div>
      <h4>ПОСМОТРЕТЬ</h4>
      <h4>ШОУРИЛ</h4>
    </div>
    <div class="play-icon-container">
      <img src="icons/play.svg" alt="" />
    </div>
  </a>
</div>
