<div class="slider" #slider>
  <div class="slider__rail" #rail>
    <ng-content></ng-content>
  </div>
  <div
    class="slider__arrow slider__arrow_left"
    #leftArrow
    (click)="handleLeftArrowClick()"
  ></div>
  <div
    class="slider__arrow slider__arrow_right"
    #rightArrow
    (click)="handleRightArrowClick()"
  ></div>
  <div class="slider__pagination">
    @for (dot of slides; track dot; let i = $index) {
      <div
        class="slider__pagination-dot"
        [style.width.px]="(activeSlide$$ | async) === i ? 7 : 5"
        [style.height.px]="(activeSlide$$ | async) === i ? 7 : 5"
        #paginationDot
        (click)="handlePaginationClick(i)"
      ></div>
    }
  </div>
</div>
