<div class="wrapper">
  <div id="about" class="info-container">
    <div class="text-block">
      <h4>ABOUT</h4>
      <div class="text-container">
        <p>
          При работе я стараюсь максимально детально передать свое видение картины
          зрителям. Для меня важно донести свои идеи и ощущения персонажей
        </p>
        <p>
          Помимо режиссирования беру заказы по написанию сценариев к разного рода
          работам: клипам, рекламе и кино. Имею приличное портфолио написанных
          собственноручно сценариев бля бля бля я заебался уже писать я не ебу че
          тут ваще можно вставить может нахуй этот блок текста уберу буэээээ
          бляяятьв авазышвщзпл
        </p>
      </div>
    </div>
    <app-media-accordion [data]="mediaData"></app-media-accordion>
  </div>
  
</div>