<div id="about" class="info-container">
  <div class="text-block">
    <h4>ABOUT</h4>
    <div class="text-container">
      <p>
        При работе я стараюсь максимально детально передать свое видение картины
        зрителям. Для меня важно донести свои идеи и ощущения персонажей
      </p>
      <p>
        Помимо режиссирования беру заказы по написанию сценариев к разного рода
        работам: клипам, рекламе и кино. Имею приличное портфолио написанных
        собственноручно сценариев бля бля бля я заебался уже писать я не ебу че
        тут ваще можно вставить может нахуй этот блок текста уберу буэээээ
        бляяятьв авазышвщзпл
      </p>
    </div>
  </div>
  <div class="slider">
    <div class="card">
      <div class="label">
        <span class="year">2010</span>
        <span class="label-title">{{ "title" | uppercase }}</span>
        <h4 class="index">01</h4>
      </div>
      <div class="image-container">
        <img
          src="https://i.pinimg.com/736x/5d/0e/dd/5d0eddefdf9a36d4dbf92bb010fb61ae.jpg"
          alt=""
        />
      </div>
    </div>
    <!-- <div class="card">
      <div class="label">
        <span class="year">2010</span>
        <span class="label-title">{{ "title" | uppercase }}</span>
        <h4 class="index">01</h4>
      </div>
      <div class="image-container">
        <img
          src="https://i.pinimg.com/736x/5d/0e/dd/5d0eddefdf9a36d4dbf92bb010fb61ae.jpg"
          alt=""
        />
      </div>
    </div> -->
  </div>
</div>
