<div id="about" class="info-container">
  <div class="wrapper">
    <div class="text-block">
      <h4>ABOUT</h4>
      <div class="text-container">
        <p>
          Здаров! Меня зовут Ваня, и вы смотрите на страничку режиссера, который специализируется на игровых роликах и игровом кино.
        </p>
        <p>
          Я люблю работать со сложными персонажами, над комплексной художкой и выразительными кадрами, над драмой, драками и нестандартными аттракционами. Мой главный навык - точная и подробная работа с актёром. Также учусь во ВГИКе, мастерская Д. Х. Астрахана. 
        </p>
        <p>
          Хочу постоянно пробовать новые задачи и с каждой работой создавать вызов себе и материалу. На мой взгляд, только с таким подходом из видео рождается что-то трогательное и искреннее.
        </p>
      </div>
    </div>
    <app-faq [data]="mediaData"></app-faq>
  </div>
</div>
