<footer id="contacts" class="footer">
  <div class="col">
    <h4>Связаться со&nbsp;мной</h4>
  </div>
  <div class="col">
    <p>
      Буду рад посотрудничать. Пишите в телеграм или на почту, а вот рядом мое
      личико
    </p>
    <p>
      А еще у меня есть продакшн. Вот ссылочка, переходите, снимем все, что
      хотите
    </p>
  </div>
  <div class="col">
    <div class="contacts-box">
      <div class="contacts-row">
        <span>Mail</span>
        <div class="line"></div>
        <a href="#" class="contact">mail-zaglushka.ru</a>
      </div>
      <div class="contacts-row">
        <span>Telegram</span>
        <div class="line"></div>
        <a href="#" class="contact">-tg_zaglushka</a>
      </div>
    </div>
    <div class="buttons-box">
      <button class="secondary">В продакшн</button>
      <button>В телеграм</button>
    </div>
  </div>
  <div class="col nav-container">
    <div class="nav">
      <a href="#hero">Showreel</a>
      <a href="#portfolio">Portfolio</a>
      <a href="#about">About</a>
    </div>
    <div class="portrait">
      <img src="media/images/vanyusha_chb.png" alt="">
    </div>
  </div>
</footer>
