<footer id="contacts" class="footer">
  <div class="col col-title">
    <h4>Связаться со&nbsp;мной</h4>
  </div>
  <div class="col col-desc-cont">
    <div class="col col-description">
      <p>
        Буду рад посотрудничать. Пишите в телеграм или на почту, а вот рядом мое
        личико
      </p>
      <p>
        А еще у меня есть продакшн. Вот ссылочка, переходите, снимем все, что
        хотите
      </p>
    </div>
    <div class="col col-contacts">
      <div class="contacts-box">
        @for (item of content.contacts; track item) {
        <div class="contacts-row">
          <span [innerHTML]="item.name"></span>
          <div class="line"></div>
          <a
            [href]="item.link"
            target="_blank"
            class="contact"
            [innerHTML]="item.contact"
          ></a>
        </div>
        }
      </div>
      <div class="buttons-box">
        @for (item of content.buttons; track item) {
        <a
          [class]="item.isPrimary ? 'button' : 'button secondary'"
          [href]="item.link"
          [innerHTML]="item.text"
          target="_blank"
          ></a
        >
        }
      </div>
    </div>
  </div>
  <div class="col col-portrait">
    <div class="portrait">
      <img src="media/images/vanyusha_chb.png" alt="" />
    </div>
  </div>
</footer>
